/* color pallete 
#2C3333
#2E4F4F
#0E8388
#CBE4DE */
@font-face {
    font-family: techno;
    src: url(./font/technology.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: neuro;
    src: url(./font/neuropolitical.otf);
    font-weight: normal;
    font-style: normal;
}



body{
    background-color: #CBE4DE;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    text-align: center;
    justify-content: center;
    font-family: neuro;
    margin: 0;
    color: #CBE4DE;
    min-height: 100vh;
    zoom: 90%;
}

.main{
    flex:1;
    background-color: #2E4F4F;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap:1em;
    text-align: center;
    padding:1em;
    border-radius: 1em;
    width: 30em;
    height:45em;
    margin: 2em;

}


.number{
    font-size: 2em;
}

.screen{
    grid-column: span 4;
    background-color: #2C3333;
    font-family: techno;
    border-radius: .4em;
    text-align: right;
    font-size: 2em;
    padding-top: .3em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.input{
    font-size: 3em;
    padding-right:.1em;

}



[data-set]{
    background-color: #0E8388;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 2em;
    border-radius: .2em;
    color: #CBE4DE;
    font-family: neuro;
    border: 0;
    transition: all .06s ease;
}

[data-set="0"]{
    grid-column: span 2;
    
}

.header{
    padding: 1.5em;
    background-color: #2E4F4F;
    font-size:  2.3em;
    font-weight: 900;
    
}

.footer{
    font-size: 1em;
    padding: 2em;
    background-color: #2E4F4F;
    border-radius: 1em;
    margin: 1em;
  
}


.playing {
    transform: scale(.9);
    border-color: #40ffef;
    box-shadow: 0 0 1rem #40ffef;
  }


