/* color pallete 
#2C3333
#2E4F4F
#0E8388
#CBE4DE */
@font-face {
    font-family: techno;
    src: url(/font/technology.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: neuro;
    src: url(/font/neuropolitical.otf);
    font-weight: normal;
    font-style: normal;
}



body{
    background-color: #CBE4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: neuro;
    margin: 0;
    color: #CBE4DE;
    min-height: 100vh;
}

.main{
    background-color: #2E4F4F;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap:1em;
    text-align: center;
    padding:2em;
    border-radius: 1em;

}


.number{
    font-size: 2em;
}

.screen{
    grid-column: span 4;
    background-color: #2C3333;
    font-family: techno;
    border-radius: .4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: right;
}

.setup{
    font-size: 1.5em;
    padding:.2em;
}
.input{
    font-size: 3em;
    padding: .2em
}



[data-set]{
    background-color: #0E8388;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 2em;
    border-radius: .2em;
    color: #CBE4DE;
    font-family: neuro;
    border: 0;
}

[data-set="0"]{
    grid-column: span 2;
    
}

.header{
    padding: 1.5em;
    background-color: #2E4F4F;
    font-size:  2.3em;
    width: 100vw;
    
}

.footer{
    font-size: 1em;
    padding: 2em;
    background-color: #2E4F4F;
    border-radius: 1em;
    margin: 1em;
    width: 95vw;
}



